    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
    
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <% for post in object_list %}
          <div class="col-md-4">
            <h2> {{ post.title}} </h2>
            <span class=""><a href="#">{{ post.author }}</a></span>
            <span class=""><a href="#">{{ post.category }}</a></span>
            <span class=""><a href="#">{{ post.updated_at }}</a></span>
            <p>{{ post.summary }}</p>
            <p><a class="btn btn-secondary" href="/{{ post.id }}" role="button">View details &raquo;</a></p>
          </div>
          {% endfor %}
          <!-- <div class="col-md-4">
            <h2>Heading</h2>
            <span class=""><a href="#">作者</a></span>
            <span class=""><a href="#">類別</a></span>
            <span class=""><a href="#">建立時間</a></span>
            <p>summary</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <span class=""><a href="#">作者</a></span>
            <span class=""><a href="#">類別</a></span>
            <span class=""><a href="#">建立時間</a></span>
            <p>summary</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div> -->
        </div>
    
        <hr>
    
      </div> <!-- /container -->
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <span class=""><a href="#">作者</a></span>
            <span class=""><a href="#">類別</a></span>
            <span class=""><a href="#">建立時間</a></span>
            <p>summary</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <span class=""><a href="#">作者</a></span>
            <span class=""><a href="#">類別</a></span>
            <span class=""><a href="#">建立時間</a></span>
            <p>summary</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <span class=""><a href="#">作者</a></span>
            <span class=""><a href="#">類別</a></span>
            <span class=""><a href="#">建立時間</a></span>
            <p>summary</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
    
        <hr>
    
      </div> <!-- /container -->