{% extends 'base.html' %}

{% block title %} post.title {% endblock %}
{% block content %}
<main role="main" class="flex-shrink-0">
    <div class="container" style="margin-top:2%">
      <div class="alert alert-secondary" role="alert">
        <h1>{{ post.title }}</h1>
      </div>
      <a href="/myblog/post/category/{{post.category.id }}"></a>
      <p>作者:{{ post.author }} 
        分類: <a href="/myblog/post/category/{{post.category.id }}">{{ post.category.name }}</a>
        發文時間:{{ post.created_at|date:'Y-m-d h:m:s' }}</p>
      <p class="lead">{{ post.content }}</p>
      <hr>
      <div>
        <p>上一篇: 
          {% if previous_post %}
            <a href="{% url 'post-detail' previous_post.pk %}"> {{ previous_post.title }} </a>
          {% else %}
            沒有上一篇
          {% endif %}
        </p>
        <p>下一篇: 
        {% if next_post %}
          <a href="{% url 'post-detail' next_post.pk %}"> {{ next_post.title }} </a>
        {% else %}
          沒有下一篇
        {% endif %}  
        </p>
      </div>
    </div>
  </main>
{% endblock %}