
div.blog h3{
    margin-top: 0.5em;
  }   
  
  div.blog:not(:last-child) {   /*最後一行不執行*/
    margin-bottom: 2em;
    border-bottom: 1px solid#eee;
    padding-bottom: 1em;
  }
  
  div.blog p.blog-info {
    margin-bottom: 0;
  }

  div.paginator {
    text-align: center;
  }